.carousel-container {
    width: 100%;
    height: 620px;
    margin: 0;
}

.carousel-image img {
    margin: 100px 0;
    width: 90%;
    height: 500px;
    margin-left: 70px;
}

.carousel-text {
    margin-top: 0;
    text-align: center;
}